:host {
    display: block;
    background-color: white;
    height: 100%;
    overflow: auto;
    position: relative;
}

.grid {
    $grid-color: #ddd;
    $grid-stroke-size: 1px;
    $grid-size: 20px;
    width: 4000px;
    height: 4000px;
    background-image: linear-gradient($grid-color $grid-stroke-size, transparent $grid-stroke-size), linear-gradient(90deg, $grid-color $grid-stroke-size, transparent $grid-stroke-size);
    background-size: calc($grid-size - 1px) calc($grid-size - 1px);
    z-index: -1;
}

app-toolbox {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

app-library {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}