:host {
    display: block;
    background-color: white;
    height: 100%;
    overflow: auto;
    position: relative;
}

.canvas {
    width: 4000px;
    height: 4000px;
    z-index: -1;
    &.grid {
        $grid-color: #ddd;
        $grid-stroke-size: 1px;
        $grid-size: 20px;
        background-image: linear-gradient($grid-color $grid-stroke-size, transparent $grid-stroke-size), linear-gradient(90deg, $grid-color $grid-stroke-size, transparent $grid-stroke-size);
        background-size: calc($grid-size) calc($grid-size);
    }
}

app-toolbox {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

app-library {
    position: fixed;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}

app-item {
    position: absolute;
    width: 200px;
    height: 200px;
}